h1 {
  color: blue;
}

body {
  color: #313b2a;
}

th, td {
  text-align: center;
  color: #313b2a;
  border-bottom: 1px solid #8686869d;
}

th {
  background-color: #72F416;
}

tr:nth-child(odd) {background-color: #72db2770;}
tr:hover {background-color: #f86d2c88}

table { 
  padding: 0px;
  width: 100%;
  border-collapse: collapse;
}

footer {
  padding-top: 1%;
}

.error {
  color: #f86d2c
}

.success {
  color: #55b113
}


a.button, input[type=submit], button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  background-color: #e0e0e0;
  padding: 2px;
  color: initial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

a.button:hover, input[type="submit"]:hover, button:hover {
  background-color: #cccccc
} 