<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Tera Demo</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    {% block content %}{% endblock content %}
    
    {% for message in content %}
        <p class="success"> {{ message }} </p>
    {% endfor %}

    {% for error in errors %}
        <p class="error"> {{ error }} </p>
    {% endfor %}

    <footer>
      <a href="/">Головна</a>
      <a onclick="history.back()" href=".">Назад</a>
      </footer>
  </body>
</html>